*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  color: #fff;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 130px;
  background-color: rgb(31, 26, 26);
}
.nav-links li{
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0 35px;
  text-transform: uppercase;
  color: #fff;
}
.nav-btn{
  color: white;
  background: none;
  border: solid 2px rgb(24, 199, 24);
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav-btn:hover{
  background: rgb(24, 199, 24);

}
